.card {
  transition: all 0.3s ease;
}

#wompi-button-container button {
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #009ee3;
}

.form-select {
  cursor: pointer;
  color: #676464;
  background-color: #edf4ff;
  border: none;
}

.form-select:disabled {
  cursor: not-allowed !important;
  color: #676464c9;
  background-color: #edf4ff !important;
}

@media (max-width: 576px) {
  .card {
    margin: 0 15px;
  }
}
