.main-container {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 25px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}

.chatea-logo {
  width: 100%;
  max-width: 200px;
  text-align: left;
}

.plan-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.complementos-btn {
  background-color: #009ee3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
}

.main-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-muted {
  opacity: 0.8;
}

.text-center.text-muted {
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 500px;
}

#wompi-button-container button {
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #009ee3;
  transition: all 0.3s ease;
}

#wompi-button-container button:hover {
  background-color: #007ab3;
}

.form-select {
  cursor: pointer;
  color: #676464;
  background-color: #edf4ff;
  border: none;
  transition: all 0.3s ease;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 158, 227, 0.2);
  transition: all 0.3s ease;
}

.form-select:hover {
  background-color: #d6e8ff;
}

.form-select:disabled {
  cursor: not-allowed !important;
  color: #676464c9;
  background-color: #edf4ff !important;
}

/* complementos */
.complements-section {
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.complement-select {
  cursor: pointer;
  color: #676464;
  background-color: #edf4ff;
  border: none;
  border: 1px solid rgba(0, 158, 227, 0.2);
  transition: all 0.3s ease;
  padding: 0.75rem;
  font-size: 1rem;
}

.complement-select:hover {
  background-color: #d6e8ff;
}

.complement-select option {
  padding: 10px;
  font-size: 0.95rem;
}

/* controles de cantidad */
.quantity-section {
  margin-top: 1rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px !important;
  align-items: stretch !important;
}

.quantity-btn {
  font-size: 18px;
  padding: 4px 14px 0px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid #009ee3;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #009ee3;
  display: flex !important;
  justify-content: center !important;
}

.quantity-btn:hover {
  background-color: #d6e8ff;
}

.quantity-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity-input--static {
  background-color: #009ee3;
  width: 50px;
  text-align: center;
  border: 1px solid #009ee3;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #ffffff;
}

.quantity-input {
  width: 80px;
  text-align: center;
  border: 1px solid #009ee3;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #676464;
}

.quantity-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 158, 227, 0.25);
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input[type="number"] {
  -moz-appearance: textfield;
}

.selected-complement-item {
  background-color: #edf4ff !important;
  border: 1px solid rgba(0, 158, 227, 0.2);
  transition: all 0.3s ease;
}

.selected-complement-item:hover {
  border-color: rgba(0, 158, 227, 0.4);
}

.badge {
  background-color: #009ee3 !important;
  padding: 0.5em 0.8em;
}

.purchase-option {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px !important;
  border: 1px solid rgba(0, 158, 227, 0.2);
}

.purchase-option:hover {
  border-color: #009ee3;
  transform: translateY(-2px);
  color: #009ee3;
}

.purchase-option div {
  font-size: 2.2rem;
}

.selected-option {
  border-color: #009ee3;
  box-shadow: 0 4px 6px rgba(0, 158, 227, 0.1);
  color: #009ee3;
}

.complemnts-btn {
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #009ee3;
  color: white;
  border: 1px solid #009ee3;
  padding: 8px;
  transition: all 0.3s ease;
}

.complemnts-btn:hover {
  background-color: #007ab3;
  border: 1px solid #007ab3;
  transition: all 0.3s ease;
}

input[type="checkbox"] {
  background-color: #edf4ff;
  border: 1px solid rgba(0, 158, 227, 0.2);
}
input[type="checkbox"]:checked {
  background-color: #009ee3;
}

.badge.bg-success {
  background-color: #28a745 !important;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.40em 0.6em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-label {
  display: flex;
  align-items: center;
  justify-content: inherit;
}

.free-assistant-alert {
  padding: 0.75rem;
  margin: 0px;
  background-color: #fff4ccb1;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.form-check-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.badge.bg-secondary {
  background-color: #6c757d !important;
  font-size: 0.75rem;
}

.form-check-label.text-muted {
  opacity: 0.7;
}

.buy-assistant-alert {
  padding: 0.75rem;
  margin: 0px;
  background-color: #d6e8ff;
  transition: all 0.3s ease;
  border-radius: 6px;
  border: 1px solid rgba(0, 158, 227, 0.2);
} 

.acquired-assistant {
  font-weight: 500 !important;
}